<!DOCTYPE html>
<html>
{% block head %}
   <meta charset="UTF-8" author="Carina" content= "Big Events">
	<meta name="viewport" content ="width=device-width, initial-scale=1.0">
        <title >{% block title %}Welcome>{% endblock %}</title>
  <style type="text/css">
        nav {background-color: rgb(255,80,80); }
        #footer_div {height: 70px; background-color: rgb(255,80,80); }
        #footer_logo {font-size:12pt; text-align: center; padding-top:20px; color: purple;}
        #fullIndex_container {background: url(https://images.pexels.com/photos/3811074/pexels-photo-3811074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: 100%;}
</style>
        {% block stylesheets %}{% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   {% endblock  %}
    <body>
    	<nav class="navbar navbar-expand navbar">
         <li class="navbar-brand" style="color: rgb(154,0,154)">StadtEvents</li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: rgb(154,0,154);" id="home" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" style="color: rgb(154,0,154);" id="Create_file" href="/create"> Add event </a>
      </li>
    </ul>
  </div>

</nav>



<div class="container-fluid" id="fullIndex_container">
        
      {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

</div> {#------------------end of fullIndex_container -------------------------#}

<footer>


<div id="footer_div">
    <div id="footer_logo">&#169;StadtEvents</div>
  </div>

</footer>

        	
    </body>

</html>
